.bg-footer {
    background-image: url("/storage/img/carcassonne-blue-pattern.jpg");
    background-size: 200px 200px;
    background-repeat: repeat;
    top: 0;

    .li-footer {
        width: fit-content;
        display: inline-block;

        svg {
            width: 70%;
            fill: #ffffff;
        }
    }
}

.dashboard-footer {
    max-width: 90%;
    margin: 50px auto 20px auto;
    opacity: 0.3;

    .col {
        padding: 0;
    }
}
