html {

    body {
        background-color: #ffffff;
    }

    p {
        margin: 0;
    }

    h1, h2, h3 {
        color: #206EB8;
    }

    button, button:focus, button:active {
        outline: none;
    }

    button.prim-btn {
        background-color: #206EB8;
        border: 2px solid #206EB8;
        padding: 10px 25px !important;
        transition: 0.7s;
        border-radius: 0;
        color: #ffffff;
        font-weight: 800;

        a {
            color: #ffffff;
            font-weight: 800;
        }

        input {
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0 0;
            color: #ffffff;
            font-weight: 800;
        }
    }

    button.prim-btn:hover {
        background-color: #195690;
        border: 2px solid #195690;
        padding: 10px 25px !important;
        transition: 0.7s;
        border-radius: 0;
        color: #ffffff;
        font-weight: 800;

        a {
            color: #ffffff;
            font-weight: 800;
            text-decoration: none;
        }

        input {
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0 0;
            color: #ffffff;
            font-weight: 800;
            text-decoration: none;
        }
    }

    button.scnd-btn {
        border: 2px solid #206EB8;
        padding: 10px 25px !important;
        border-radius: 0;
        transition: 0.7s;
        color: #206EB8 !important;
        font-weight: 800;

        a {
            color: #206EB8 !important;
            font-weight: 800;
        }

        input {
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0 0;
            color: #206EB8 !important;
            font-weight: 800;
        }
    }

    button.scnd-btn:hover {
        border: 2px solid #206EB8;
        background-color: #206EB8 !important;
        padding: 10px 25px !important;
        border-radius: 0;
        transition: 0.7s;
        color: #ffffff !important;
        font-weight: 800;

        a {
            color: #ffffff !important;
            font-weight: 800;
            text-decoration: none;
        }

        input {
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0 0;
            color: #ffffff !important;
            font-weight: 800;
            text-decoration: none;
        }
    }

    button.ter-btn {
        border: 2px solid #ffffff;
        padding: 10px 25px;
        border-radius: 0;
        color: #ffffff;
        font-weight: 800;

        a {
            color: #ffffff;
            font-weight: 800;
        }
    }

    button.ter-btn:hover {
        border: 2px solid #ffffff;
        background-color: #ffffff;
        padding: 10px 25px;
        border-radius: 0;
        color: #206EB8;
        font-weight: 800;

        a {
            color: #206EB8;
            font-weight: 800;
            text-decoration: none;
        }

        input {
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0 0;
            color: #206EB8;
            font-weight: 800;
            text-decoration: none;
        }
    }

    input {
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 36px 0 rgba(0,0,0,0.16);
        -moz-box-shadow: 0 0 36px 0 rgba(0,0,0,0.16);
        box-shadow: 0 0 36px 0 rgba(0,0,0,0.16);
        border: none;
        padding: 10px 0;
        text-align: center;
        outline: none;
    }

    input:foucs, input:active {
        outline: none;
    }

    .dataTables_wrapper {
        width: 100%;
    }
}
